---
to: <%= h.path.resolve(baseDir, `ui/${component}.tsx`) %>
---
import { memo } from 'react';

export const <%= componentName %> = memo(() => (
    <div>Generated component for @/<%= layer %>/<%= name %></div>
));
